/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';



::ng-deep .mat-input-underline {
    display: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-underline {
    display: none;
  }

  [aria-label=primary] {
    background-color: blue;
  }
  
  [aria-label=accent] {
    background-color: aqua;
  }  


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
