<div class="container-grid">
    <div class="grid1">
        <img src="assets/images/assignment_icons/Group 235.png" alt="img-1" width="100%" >
    </div>
    <div class="grid2">
        <img src="assets/images/assignment_icons/Group 141.jpg" alt="img" >
        <h1><b>Welcome</b></h1>
        <br>
        <mat-card>
        <form  class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Enter Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl"  name="email" [(ngModel)]="email" [errorStateMatcher]="matcher"
                     placeholder="Ex. pat@example.com">
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </form>
        </mat-card> <br>

        <mat-card>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput [formControl]="passwordFormControl" name="password" [(ngModel)]="password" [errorStateMatcher]="matcher"
                     placeholder="Password">
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error *ngIf="passwordFormControl.hasError('password') && !passwordFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </form>
        </mat-card>
        <br><br>
        <div class="lost_password">
            <div class="rem-pass">
                <input type="checkbox"><span> Remember me</span>
            </div>
            <div class="lost-pass">
                <span><a href="#" >forgot password?</a></span>
            </div>
        </div>
        <br><br>
        <div class="btn">
            <button (click)="login(email, password)" class="login_btn">Login </button>
        </div>
    </div>
</div>